<!-- Filter Form -->
<div class="py-6">
  <div class="flex flex-col justify-end gap-4 lg:flex-row">
    <button
      class="btn-primary flex items-center justify-center gap-2 rounded-lg px-4 py-2 text-sm font-medium shadow"
      (click)="applyFilters()">
      <span [innerHTML]="'faMagnifyingGlass' | attachedIcon"></span
      ><span>Search </span>
    </button>
    <button
      class="btn-gray flex items-center justify-center gap-2 rounded-lg px-4 py-2 text-sm font-medium shadow"
      (click)="clearFilters()">
      <span [innerHTML]="'faFilterCircleXmark' | attachedIcon"></span>
    </button>
  </div>

  <form (ngSubmit)="applyFilters()" class="mt-6 space-y-6">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <!-- Status -->
      <div>
        <label
          for="status"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Status</label
        >
        <select
          id="status"
          [(ngModel)]="filters.status"
          name="status"
          class="input-standard">
          <option value="">--Select Status--</option>
          <option value="open">Open</option>
          <option value="ready">Ready</option>
          <option value="inProgress">In Progress</option>
          <option value="finished">Finished</option>
          <option value="closed">Closed</option>
          <option value="canceled">Canceled</option>
        </select>
      </div>

      <!-- Start Point District -->
      <div>
        <label
          for="startPointDistrict"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Start Point District</label
        >
        <input
          id="startPointDistrict"
          type="text"
          [(ngModel)]="filters.startPointDistrict"
          name="startPointDistrict"
          class="input-standard" />
      </div>

      <!-- Start Point Municipality -->
      <div>
        <label
          for="startPointMunicipality"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Start Point Municipality</label
        >
        <input
          id="startPointMunicipality"
          type="text"
          [(ngModel)]="filters.startPointMunicipality"
          name="startPointMunicipality"
          class="input-standard" />
      </div>

      <!-- Start Point Parish -->
      <div>
        <label
          for="startPointParish"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Start Point Parish</label
        >
        <input
          id="startPointParish"
          type="text"
          [(ngModel)]="filters.startPointParish"
          name="startPointParish"
          class="input-standard" />
      </div>

      <!-- End Point District -->
      <div>
        <label
          for="endPointDistrict"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >End Point District</label
        >
        <input
          id="endPointDistrict"
          type="text"
          [(ngModel)]="filters.endPointDistrict"
          name="endPointDistrict"
          class="input-standard" />
      </div>

      <!-- End Point Municipality -->
      <div>
        <label
          for="endPointMunicipality"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >End Point Municipality</label
        >
        <input
          id="endPointMunicipality"
          type="text"
          [(ngModel)]="filters.endPointMunicipality"
          name="endPointMunicipality"
          class="input-standard" />
      </div>

      <!-- End Point Parish -->
      <div>
        <label
          for="endPointParish"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >End Point Parish</label
        >
        <input
          id="endPointParish"
          type="text"
          [(ngModel)]="filters.endPointParish"
          name="endPointParish"
          class="input-standard" />
      </div>

      <!-- Provided Seats -->
      <div>
        <label
          for="providedSeats"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Provided Seats</label
        >
        <input
          id="providedSeats"
          type="number"
          [(ngModel)]="filters.providedSeats"
          name="providedSeats"
          class="input-standard" />
      </div>

      <!-- Schedule Year -->
      <div>
        <label
          for="scheduleYear"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Schedule Year</label
        >
        <input
          id="scheduleYear"
          type="number"
          [(ngModel)]="filters.scheduleYear"
          name="scheduleYear"
          class="input-standard" />
      </div>

      <!-- Schedule Month -->
      <div>
        <label
          for="scheduleMonth"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Schedule Month</label
        >
        <input
          id="scheduleMonth"
          type="number"
          [(ngModel)]="filters.scheduleMonth"
          name="scheduleMonth"
          class="input-standard" />
      </div>

      <!-- Schedule Day -->
      <div>
        <label
          for="scheduleDay"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Schedule Day</label
        >
        <input
          id="scheduleDay"
          type="number"
          [(ngModel)]="filters.scheduleDay"
          name="scheduleDay"
          class="input-standard" />
      </div>

      <!-- Schedule Hour -->
      <div>
        <label
          for="scheduleHour"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Schedule Hour</label
        >
        <input
          id="scheduleHour"
          type="number"
          [(ngModel)]="filters.scheduleHour"
          name="scheduleHour"
          class="input-standard" />
      </div>
    </div>
  </form>
</div>

<!-- ----------------------------------------------------------------------- -->

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Schedule</th>
        <th scope="col">Price</th>
        <th scope="col">Car</th>
        <th scope="col">Available seats</th>
        <th scope="col">Status</th>
        <th scope="col">Created at</th>
        <th scope="col">Applications</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (lift of lifts; track lift.cl) {
        <tr>
          <td>
            {{ lift.startPoint.parish }}, {{ lift.startPoint.municipality }} ({{
              lift.startPoint.district
            }})
          </td>
          <td>
            {{ lift.endPoint.parish }}, {{ lift.endPoint.municipality }} ({{
              lift.endPoint.district
            }})
          </td>
          <td>{{ lift.schedule | date: "short" }}</td>
          <td>{{ lift.price }}€</td>
          <td>
            {{ lift.car.brand }} {{ lift.car.model }} {{ lift.car.color }}
            {{ lift.car.plate }}
          </td>
          <td>
            {{ lift.providedSeats - lift.occupiedSeats! }} /
            {{ lift.providedSeats }}
          </td>
          <td>{{ lift.status }}</td>
          <td>{{ lift.createdAt | date: "short" }}</td>
          <td>
            <div>
              @if (lift.applications?.length === 0) {
                <div
                  class="rtl relative flex h-8 w-full items-center cursor-default justify-center btn-gray">
                  <p>No applications yet</p>
                </div>
              } @else if (lift.applications?.length === 1) {
                <div
                  class="rtl relative flex h-8 w-full cursor-pointer items-center justify-center btn-primary">
                  <a (click)="toggleApplication(lift)">Inspect application</a>
                </div>
              } @else {
                <div
                  class="rtl relative flex h-8 w-full cursor-pointer items-center justify-center btn-primary">
                  <a (click)="toggleApplication(lift)"
                    >Inspect all {{ lift.applications?.length }} applications</a
                  >
                </div>
              }
            </div>
          </td>
          <td>CANCEL LIFT</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div
  class="rtl relative flex h-8 w-8 cursor-pointer items-center justify-center btn-primary">
  <a (click)="toggleCreate()"
    ><span [innerHTML]="'faPlus' | attachedIcon"></span
  ></a>
</div>

<app-modal modalTitle="{{ currentModalTitle }}">
  <div content>
    <!-- ------------------------- Toggle Create Form -------------------------- -->
    @if (showCreateForm) {
      <form
        [formGroup]="liftForm"
        (ngSubmit)="confirmCreate()"
        #form="ngForm"
        class="bg-white px-8 pt-6 pb-8 mb-4">
        <!-- STARTPOINT -->
        <div>
          <!-- District Select -->
          <div>
            <label for="startDistrict">Select District</label>
            <select
              id="startDistrict"
              formControlName="startDistrict"
              (change)="onStartDistrictChange($event)">
              <option
                *ngFor="let startDistrict of startDistricts"
                [value]="startDistrict">
                {{ startDistrict }}
              </option>
            </select>
          </div>

          <!-- Municipality Select -->
          <div>
            <label for="startMunicipality">Select Municipality</label>
            <select
              id="startMunicipality"
              formControlName="startMunicipality"
              [disabled]="!selectedStartDistrict"
              (change)="onStartMunicipalityChange($event)">
              <option
                *ngFor="let startMunicipality of startMunicipalities"
                [value]="startMunicipality">
                {{ startMunicipality }}
              </option>
            </select>
          </div>

          <!-- Parish Select -->
          <div>
            <label for="startParish">Select Parish</label>
            <select
              id="startParish"
              formControlName="startParish"
              [disabled]="!selectedStartMunicipality">
              <option
                *ngFor="let startParish of startParishes"
                [value]="startParish">
                {{ startParish }}
              </option>
            </select>
          </div>
        </div>

        <!-- ENDPOINT -->
        <div>
          <!-- District Select -->
          <div>
            <label for="endDistrict">Select District</label>
            <select
              id="endDistrict"
              formControlName="endDistrict"
              (change)="onEndDistrictChange($event)">
              <option
                *ngFor="let endDistrict of endDistricts"
                [value]="endDistrict">
                {{ endDistrict }}
              </option>
            </select>
          </div>

          <!-- Municipality Select -->
          <div>
            <label for="endMunicipality">Select Municipality</label>
            <select
              id="endMunicipality"
              formControlName="endMunicipality"
              [disabled]="!selectedEndDistrict"
              (change)="onEndMunicipalityChange($event)">
              <option
                *ngFor="let endMunicipality of endMunicipalities"
                [value]="endMunicipality">
                {{ endMunicipality }}
              </option>
            </select>
          </div>

          <!-- Parish Select -->
          <div>
            <label for="endParish">Select Parish</label>
            <select
              id="endParish"
              formControlName="endParish"
              [disabled]="!selectedEndMunicipality">
              <option *ngFor="let endParish of endParishes" [value]="endParish">
                {{ endParish }}
              </option>
            </select>
          </div>
        </div>

        <!-- Car -->
        <div>
          <label for="car">Select Car</label>
          <select id="car" formControlName="car">
            <option *ngFor="let car of cars" [value]="car.cc">
              {{ car.plate }}
            </option>
          </select>
        </div>

        <!-- Schedule -->
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="cschedule">
            Schedule
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
            id="schedule"
            name="schedule"
            type="datetime-local"
            required
            formControlName="schedule" />
        </div>

        <!-- Price -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cd">
            Price
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
            id="price"
            name="price"
            type="number"
            required
            placeholder="Example: 20"
            formControlName="price" />
        </div>

        <!-- Provided Seats -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cd">
            Number of passengers <span class="italic">(max.)</span>
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
            id="providedSeats"
            name="providedSeats"
            type="number"
            required
            placeholder="Example: 4"
            formControlName="providedSeats" />
        </div>

        <!-- Botoes -->
        <div class="flex items-center justify-between">
          <button
            class="bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Confirm
          </button>
          <button
            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button"
            (click)="cancel()">
            Cancel
          </button>
        </div>
        <div></div>
      </form>
    }
    <!-- ----------------------------------------------------------------------- -->
    <!-- ------------------------- Toogle Application -------------------------- -->
    @if (showApplicationForm) {
      @for (application of auxiliarLift.applications; track application.ca) {
        <div>
          <p>Passenger</p>
          <p>{{ application.passenger?.username }}</p>
          <p>Contact</p>
          <p>{{ application.passenger?.contact }}</p>
          <p>Rating</p>
          <p>{{ application.passenger?.passengerRating }}</p>
        </div>
        @if (application.status === "pending") {
          <div class="flex items-center justify-between">
            <button
              class="bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              (click)="acceptApplication(application.ca!)">
              Accept
            </button>
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
              (click)="rejectApplication(application.ca!)">
              Reject
            </button>
          </div>
        } @else {
          <p>Status</p>
          <p>{{ application.status }}</p>
        }
      }
      <div>
        <button
          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="cancel()">
          Cancel
        </button>
      </div>
    }
  </div></app-modal
>
