<nav
  class="fixed top-0 z-50 w-full p-5 text-gray-700 shadow-sm xl:px-5 xl:pl-3 border-b border-gray-50 border-opacity-10"
  [ngClass]="{
    'bg-gradient-to-r from-primary-600 text-gray-200 via-primary-700 to-primary-700 dark:bg-gradient-to-r dark:from-primary-600 dark:via-secondary-800 dark:to-secondary-800 backdrop-blur-2xl':
      !isHomePage,
  }">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-start rtl:justify-end">
      <button
        data-drawer-target="logo-navbar"
        data-drawer-toggle="logo-navbar"
        aria-controls="logo-navbar"
        type="button"
        class="inline-flex items-center rounded-lg p-2 text-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 xl:hidden dark:hover:bg-gray-900 hover:text-primary-700"
        (click)="toggleSidebar()">
        <span [innerHTML]="'faBars' | attachedIcon: '2x'"></span>
        <span class="sr-only">Open sidebar</span>
      </button>
      <!-- ----------------------------------------------------------------------- -->
      <!-- -------------------------------- LOGO --------------------------------- -->
      <!-- ----------------------------------------------------------------------- -->
      <a routerLink="/" class="ms-3 flex xl:me-24 group">
        <div class="relative">
          <!-- Default Image -->
          <!-- <img
            ngSrc="/logo2.png"
            class="me-3 h-10 w-auto"
            alt="logo"
            width="486"
            height="593" /> -->
        </div>
        <span
          class="self-center font-semiCondensed font-extrabold border-white border-opacity-0 whitespace-nowrap text-xl xl:text-2xl transition-all ease-in-out group-hover:border-primary-200 group-hover:border-opacity-60 group-hover:text-primary-800">
          Hop in - App
        </span>
      </a>
    </div>
    <!-- ----------------------------------------------------------------------- -->

    <!-- ----------------------------------------------------------------------- -->
    <!-- ---------------------------- NAVBAR LINKS ----------------------------- -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="hidden xl:flex space-x-6 justify-end grow mr-8">
      <a
        routerLink="/"
        class="p-2 space-x-2 hover:text-primary-700 rounded-full font-medium"
        [ngClass]="{'text-gray-200 hover:text-primary-300': !isHomePage}">
        <span [innerHTML]="'faHome' | attachedIcon: 'x'"></span>
        <span> Home </span>
      </a>
      <a data-cy="menu-navbar-need-lift"
        routerLink="/lifts"
        class="p-2 space-x-2 hover:text-primary-700 rounded-full font-medium"
        [ngClass]="{'text-gray-200 hover:text-primary-300': !isHomePage}">
        <span [innerHTML]="'faThumbsUp' | attachedIcon: 'x'"></span>
        <span> Find a Lift </span>
      </a>
      <a
        routerLink="/my-lifts"
        class="p-2 space-x-2 hover:text-primary-700 rounded-full font-medium"
        [ngClass]="{'text-gray-200 hover:text-primary-300': !isHomePage}">
        <span [innerHTML]="'faCar' | attachedIcon: 'x'"></span>
        <span> Offer a Lift </span>
      </a>
      <a
        routerLink="/my-applications"
        class="p-2 space-x-2 hover:text-primary-700 rounded-full font-medium"
        [ngClass]="{'text-gray-200 hover:text-primary-300': !isHomePage}">
        <span [innerHTML]="'faAddressCard' | attachedIcon: 'x'"></span>
        <span>My Applications</span>
      </a>
      <a
        routerLink="/my-lifts"
        class="p-2 space-x-2 hover:text-primary-700 rounded-full font-medium"
        [ngClass]="{'text-gray-200 hover:text-primary-300': !isHomePage}">
        <span [innerHTML]="'faCarSide' | attachedIcon: 'x'"></span>
        <span>My Lifts</span>
      </a>
    </div>
    <!-- ----------------------------------------------------------------------- -->
    <label class="ms-auto inline-flex cursor-pointer items-center px-6">
      <span
        class="mx-3 text-lg"
        [innerHTML]="'faSun' | attachedIcon: 'x'"></span>
      <input
        type="checkbox"
        name="theme-toggle"
        value=""
        class="peer sr-only"
        (click)="toggleTheme()" />
      <div
        class="after: peer relative h-6 w-11 rounded-full bg-gray-200 after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-600 after:transition-all after:content-[''] peer-checked:bg-primary-600 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary-300 rtl:peer-checked:after:-translate-x-full dark:border-gray-600 dark:bg-gray-700 dark:peer-focus:ring-primary-800"></div>
      <span
        class="mx-3 text-lg"
        [innerHTML]="'faMoon' | attachedIcon: 'x'"></span>
    </label>
    <div class="flex items-center">
      <div class="ms-3 flex items-center">
        <div>
          @if (!menuNavbarVisible) {
            <button
              data-cy="menu-navbar-btn"
              type="button"
              class="flex text-lg"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
              (click)="toggleMenuNavbar()">
              <span class="sr-only">Open user menu</span>
              <span [innerHTML]="'faCircleUser' | attachedIcon: '2x'"></span>
            </button>
          } @else {
            <button
              type="button"
              class="flex text-lg"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
              (click)="toggleMenuNavbar()">
              <span class="sr-only">Close user menu</span>
              <span [innerHTML]="'faCircleUser' | attachedIcon: '2x'"></span>
            </button>
          }
        </div>
        <div
          class="fixed right-4 top-16 z-50 my-4 w-48 list-none divide-y divide-gray-100 rounded-lg border bg-white text-gray-800 dark:text-gray-100 text-base shadow-lg dark:divide-gray-600 dark:border-gray-500 dark:bg-gray-700"
          id="dropdown-user"
          [ngClass]="{ hidden: !menuNavbarVisible }">
          <div class="px-4 py-3" role="none">
            <p class="text-sm" role="none">Welcome</p>
          </div>
          <ul class="p-1" role="none">
            <li>
              <a
                href="/register"
                (click)="closeMenuNavbar()"
                class="flex w-full rounded-lg p-3 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-opacity-20"
                role="menuitem">
                <span [innerHTML]="'faUserPlus' | attachedIcon: 'x'"></span>
                <span class="ms-4">Register</span>
              </a>
            </li>
            @if (userToken) {
              <li>
                <a
                  href="/profile"
                  (click)="closeMenuNavbar()"
                  class="flex w-full rounded-lg p-3 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-opacity-20"
                  role="menuitem">
                  <span [innerHTML]="'faUser' | attachedIcon"></span>
                  <span class="ms-4">Profile</span>
                </a>
              </li>
              <li>
                <a
                  href="/my-cars"
                  (click)="closeMenuNavbar()"
                  class="flex w-full rounded-lg p-3 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-opacity-20"
                  role="menuitem">
                  <span [innerHTML]="'faCar' | attachedIcon: 'x'"></span>
                  <span class="ms-4">My Cars</span>
                </a>
              </li>
              <li>
                <a
                data-cy="menu-navbar-myLifts"
                  href="/my-lifts"
                  (click)="closeMenuNavbar()"
                  class="flex w-full rounded-lg p-3 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-opacity-20"
                  role="menuitem">
                  <span [innerHTML]="'faCar' | attachedIcon"></span>
                  <span class="ms-4">My Lifts</span>
                </a>
              </li>
              <li>
                <a
                data-cy="menu-navbar-myApps"
                  href="/my-applications"
                  (click)="closeMenuNavbar()"
                  class="flex w-full rounded-lg p-3 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-opacity-20"
                  role="menuitem">
                  <span [innerHTML]="'faAddressCard' | attachedIcon"></span>
                  <span class="ms-4">My Applications</span>
                </a>
              </li>
              @if (userRole === "admin") {
                <li>
                  <a
                    href="/manage-cars"
                    (click)="closeMenuNavbar()"
                    class="flex w-full rounded-lg p-3 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-opacity-20"
                    role="menuitem">
                    <span [innerHTML]="'faGear' | attachedIcon"></span>
                    <span class="ms-4">Manage Cars</span>
                  </a>
                </li>
              }
            }
          </ul>
          <ul class="p-1" role="none">
            <li>
              @if (!userToken) {
                <a
                  href="/login"
                  class="flex w-full rounded-lg p-3 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-opacity-20"
                  role="menuitem">
                  <span
                    [innerHTML]="'faRightToBracket' | attachedIcon: 'x'"></span>
                  <span class="ms-4">Login</span>
                </a>
              } @else {
                <button
                data-cy="logout-btn"
                  type="button"
                  class="group flex w-full items-center rounded-lg p-3 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-opacity-20"
                  (click)="logout()">
                  <span
                    [innerHTML]="
                      'faRightFromBracket' | attachedIcon: 'x'
                    "></span>
                  <span class="ms-4">Logout</span>
                </button>
              }
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  class="fixed bg-opacity-50 backdrop-blur-sm xl:backdrop-blur-none z-30"
  *ngIf="sidebarVisible"
  (click)="closeSidebar()"></div>

<aside
  id="logo-sidebar"
  class="@ fixed top-0 z-50 h-full w-72 mt-[88px] transition-transform xl:hidden bg-white shadow-lg bg-opacity-70 border-r border-gray-200 pt-4 text-gray-600 backdrop-blur-2xl xl:translate-x-0 dark:border-gray-600 dark:bg-gray-900 dark:bg-opacity-60 dark:text-gray-300"
  [ngClass]="{
    '-translate-x-full': !sidebarVisible,
    '-translate-x-0': !sidebarVisible && !isSmallScreen,
  }"
  aria-label="Sidebar">
  <div class="h-full overflow-y-auto px-3 pb-4 flex flex-col justify-between">
    <ul class="space-y-2 text-lg font-medium">
      <li>
        <a
          (click)="closeSidebar()"
          routerLink="/"
          class="group flex items-center rounded-lg p-3 hover:bg-gray-100 dark:hover:bg-opacity-20">
          <span [innerHTML]="'faHome' | attachedIcon: 'x'"></span>
          <span class="ms-4">Home</span>
        </a>
      </li>
      <li>
        <a
          (click)="closeSidebar()"
          routerLink="/my-lifts"
          class="group flex items-center rounded-lg p-3 hover:bg-gray-100 dark:hover:bg-opacity-20">
          <span [innerHTML]="'faCar' | attachedIcon: 'x'"></span>
          <span class="ms-4">Offer a lift</span>
        </a>
      </li>
      <li>
        <a
          (click)="closeSidebar()"
          routerLink="/lifts"
          class="group flex items-center rounded-lg p-3 hover:bg-gray-100 dark:hover:bg-opacity-20">
          <span [innerHTML]="'faThumbsUp' | attachedIcon: 'x'"></span>
          <span class="ms-4">Find a lift</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
