<div class="main-container">
  <div class="table-container">
    @for (application of applications; track application.ca) {
      <div class="card-container">
        <div
          class="min-h-48 min-w-48 rounded-lg bg-gray-300 dark:bg-gray-700 text-gray-50 dark:text-gray-500 flex items-center justify-center align-middle flex-none">
          <span [innerHTML]="'faAddressCard' | attachedIcon: '5x'"></span>
        </div>
        <div class="flex-1 space-y-2 flex-col">
          <div>
            <div
              class="text-xl 3xl:text-2xl font-extrabold text-primary-700 dark:text-primary-600">
              <span class="pe-2"> FROM: </span>
              <span class="">
                {{ application.lift.startPoint?.parish! | titlecase }},
                {{ application.lift.startPoint?.municipality! | titlecase }} -
                {{ application.lift.startPoint?.district! | uppercase }}
              </span>
            </div>
            <div
              class="text-xl 3xl:text-2xl font-extrabold text-primary-700 dark:text-primary-600">
              <span class="pe-2"> TO: </span>
              <span class="font-extrabold">
                {{ application.lift.endPoint?.parish! | titlecase }},
                {{ application.lift.endPoint?.municipality! | titlecase }} -
                {{ application.lift.endPoint?.district! | uppercase }}
              </span>
            </div>
          </div>
          <p class="text-sm font-semibold">
            <span class=""> Schedule: </span>
            {{ application.lift.schedule | date: "short" }}
          </p>
          <p
            class="text-white w-fit px-4 py-1 rounded-full text-[14px]"
            [ngClass]="{
              'bg-sky-700': application.lift.status === 'open',
              'bg-primary-700': application.lift.status === 'ready',
              'bg-amber-600': application.lift.status === 'inProgress',
              'bg-orange-500': application.lift.status === 'finished',
              'bg-gray-600': application.lift.status === 'closed',
              'bg-rose-700': application.lift.status === 'canceled',
            }">
            {{ application.lift.status | titlecase }}
          </p>
          <div
            class="border-l-2 ps-3 text-gray-500 dark:text-gray-400 text-sm"
            [ngClass]="{
              'border-sky-300 dark:border-sky-800':
                application.lift.status === 'open',
              'border-primary-300 dark:border-primary-800':
                application.lift.status === 'ready',
              'border-amber-300 dark:border-amber-800':
                application.lift.status === 'inProgress',
              'border-orange-300 dark:border-orange-800':
                application.lift.status === 'finished',
              'border-gray-300 dark:border-gray-800':
                application.lift.status === 'closed',
              'border-rose-300 dark:border-rose-800':
                application.lift.status === 'canceled',
            }">
            <p>Created at: {{ application.createdAt | date: "short" }}</p>
            <p>
              Driver: {{ application.lift.driver?.name | titlecase }}
              <ng-container
                *ngIf="isValidRating(application.lift.driver?.driverRating)">
                <ng-container
                  *ngFor="
                    let star of getStarsArray(
                      application.lift.driver?.driverRating
                    );
                    let i = index
                  ">
                  <span
                    class="text-amber-400"
                    [innerHTML]="'faStar' | attachedIcon"></span>
                </ng-container>
              </ng-container>
              <span
                *ngIf="!isValidRating(application.lift.driver?.driverRating)"
                >Invalid Rating</span
              >
            </p>
          </div>
        </div>
        <div class="text-end flex flex-col justify-between">
          <div class="font-bold">
            <p>
              {{ application.lift.car?.brand | titlecase }}
              {{ application.lift.car?.model | titlecase }} -
              {{ application.lift.car?.color | titlecase }}
            </p>
            <p>Plate: {{ application.lift.car?.plate | uppercase }}</p>
          </div>
          <div>
            <p class="text-3xl font-extrabold pb-4">
              {{ application.lift.price }} €
            </p>
            <div class="flex space-x-4 justify-end">
              @if (
                application.status === "pending" ||
                application.status === "accepted" ||
                application.status === "ready"
              ) {
                <div class="btn-danger">
                  <a (click)="toggleCancel(application)">
                    <span>Cancel</span></a
                  >
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<app-modal modalTitle="{{ currentModalTitle }}">
  <div content>
    <!-- ------------------------- Toggle Create Form -------------------------- -->
    @if (showCancelForm) {
      <form
        (ngSubmit)="cancelApplication()"
        #applicationForm="ngForm"
        class="mt-4">
        <div class="modal-header">
          <h5 class="text-lg font-bold text-red-600">Confirmation</h5>
        </div>
        <div class="modal-body">
          <p class="text-gray-700">You are about to cancel this application:</p>
          <div class="mt-2">
            <strong class="block text-gray-800">Starting Point:</strong>
            <span
              >{{ auxiliarApplication.lift.startPoint!.parish! | titlecase }},
              {{
                auxiliarApplication.lift.startPoint!.municipality! | titlecase
              }}
              - {{ auxiliarApplication.lift.startPoint!.district! | titlecase }}
            </span>
          </div>
          <div class="mt-1">
            <strong class="block text-gray-800">Destination:</strong>
            <span
              >{{ auxiliarApplication.lift.endPoint!.parish! | titlecase }},
              {{ auxiliarApplication.lift.endPoint!.municipality! | titlecase }}
              ({{
                auxiliarApplication.lift.endPoint!.district! | titlecase
              }})</span
            >
          </div>
          <div class="mt-1">
            <strong class="block text-gray-800">Departure time:</strong>
            <span>{{ auxiliarApplication.lift.schedule }}</span>
          </div>
          <div class="mt-1">
            <strong class="block text-gray-800">Driver:</strong>
            {{ auxiliarApplication.lift.driver!.username! }}
            <ng-container
              *ngIf="
                isValidRating(auxiliarApplication.lift.driver?.driverRating)
              ">
              <ng-container
                *ngFor="
                  let star of getStarsArray(
                    auxiliarApplication.lift.driver?.driverRating
                  );
                  let i = index
                ">
                <span
                  class="text-amber-400"
                  [innerHTML]="'faStar' | attachedIcon"></span>
              </ng-container>
            </ng-container>
          </div>
          <div class="mt-1">
            <div>
              <strong class="block text-gray-800">Contacts:</strong>
              <span [innerHTML]="'faPhone' | attachedIcon"></span>
              {{ auxiliarApplication.lift.driver!.contact!
              }}<span [innerHTML]="'faAt' | attachedIcon"></span
              ><span>{{ auxiliarApplication.lift.driver!.email! }}</span>
            </div>
            <div></div>
          </div>
          <div class="mt-1">
            <span [innerHTML]="'faCoins' | attachedIcon"></span
            ><strong class="block text-gray-800">Shared price:</strong>
            {{ auxiliarApplication.lift.price }} €
          </div>
          <p class="mt-4 text-gray-700">Are you sure?</p>
        </div>
        <div class="modal-footer mt-4 flex justify-between">
          <button class="btn-gray" (click)="cancel()" type="button">
            Back
          </button>
          <button class="btn-danger" type="submit">Confirm</button>
        </div>
      </form>
    }
  </div></app-modal
>
<!-- ----------------------------------------------------------------------- -->
