<!-- Video Background -->
<div class="relative min-h-full overflow-clip">
  <img
    ngSrc="/background-image.png"
    alt="Background Image"
    class="absolute top-0 left-0 w-full h-full object-cover"
    width="5376"
    height="3584" />

  <!-- Optional Overlay -->
  <div
    class="absolute inset-0 bg-gradient-to-t from-black/0 via-black/20 to-black/100 pointer-events-none"></div>

  <!-- Content Layer -->
  <div class="relative z-10 px-8 md:px-16 rounded-2xl shadow-lg min-h-screen">
    <div class="h-[40vh] md:h-[30vh] 3xl:h-[40vh]"></div>
    <div
      class="flex flex-col items-center justify-center xl:flex-row font-semiCondensed"></div>
  </div>
</div>
