<!-- Video Background -->
<div class="relative min-h-full overflow-clip">
  <video
    class="absolute top-0 left-0 w-full h-full object-cover"
    autoplay
    muted
    loop
    playsinline>
    <source src="/background-video-optimized.mp4" type="video/mp4" />
  </video>

  <!-- Optional Overlay -->
  <div
    class="absolute inset-0 bg-gradient-to-b from-black/10 via-black/20 to-black/80 pointer-events-none"></div>

  <!-- Content Layer -->
  <div
    class="relative z-10 px-8 md:px-16 rounded-2xl shadow-lg min-h-screen h-full content-center">
    <div
      class="flex flex-col items-center justify-center xl:flex-row font-semiCondensed">
      <div class="flex-col justify-start xl:w-1/2 space-y-8 h-full">
        <div class="flex items-center justify-start">
          <h2
            class="font-condensed text-pretty font-bold text-8xl 3xl:text-9xl subpixel-antialiased tracking-tight text-white text-shadow-default">
            Ride easy, hop in!
          </h2>
        </div>
        <div class="flex items-center text-nowrap">
          <h1 class="text-2xl 3xl:text-3xl subpixel-antialiased text-white">
            Every Lift Counts. Sign up and go!
          </h1>
        </div>
        @if (!userToken) {
          <div class="flex items-center justify-start space-x-4 text-sm">
            <a href="/register">
              <button
                class="transition truncate border-2 bg-primary-600 hover:bg-primary-800 duration-300 text-white font-bold rounded-full px-6 py-2"
                style="text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)"
                routerLink="/register">
                Register
              </button>
            </a>
            <a href="/login">
              <button
                class="truncate border-2 text-white bg-sky-600 hover:bg-sky-800 font-bold py-2 px-6 rounded-full transition-all duration-300"
                style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)">
                Login
              </button>
            </a>
          </div>
        }
      </div>
      <!-- ------------------------------ Carousel ------------------------------- -->
      <div class="hidden md:flex items-center justify-center xl:w-1/2 mt-8">
        <div class="animate-bounceSlow">
          <img
            ngSrc="/car-home-img.png"
            alt="Background Image"
            width="2048"
            height="1536" />
        </div>
      </div>
    </div>
  </div>
</div>
