<!-- Show Info -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Start Year</th>
        <th scope="col">End Year</th>
          <th scope="col">Created at</th>
          <th scope="col">Updated at</th>
          <th></th>
          <th></th>
        
      </tr>
    </thead>
    <tbody>
      @for (car of cars; track car.id) {
        <tr>
          <td>{{ car.brand }}</td>
          <td>{{ car.model }}</td>
          <td>{{ car.startYear }}</td>
          <td>{{ car.endYear }}</td>
          <td>{{car.createdAt}}</td>
          <td>{{car.updatedAt}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>