

<!-- ------------------------------- Filter -------------------------------- -->
<!-- <div class="flex flex-col justify-between py-4 md:flex-row">
    <div>
      <span class="main-title">{{ title }}</span>
    </div>
    <div class="flex flex-col justify-between gap-1 md:flex-row">
      <div class="flex flex-row items-end gap-1">
        <form
          (ngSubmit)="filterCar()"
          class="flex w-full flex-row items-end gap-1"
        >
          <button
            type="submit"
            class="btn-gray relative flex h-8 w-10 cursor-pointer items-center justify-center p-0 text-xl"
          >
            <fa-icon [icon]="['fas', 'magnifying-glass']" size="xs"></fa-icon>
          </button>
          <input
            type="text"
            [(ngModel)]="inputFilter"
            [ngModelOptions]="{ standalone: true }"
            class="h-8 w-full rounded-lg border border-gray-300 px-2 text-sm focus:border-primary-300 focus:outline-none focus:ring dark:border-transparent dark:bg-gray-500"
            [disabled]="selectedFilter === 'all'"
            placeholder="Search..."
          />
        </form>
      </div>
      <div class="flex flex-row items-end justify-between gap-1">
        <form class="w-full">
          <select
            #filterSelect
            [(ngModel)]="selectedFilter"
            [ngModelOptions]="{ standalone: true }"
            class="h-8 w-full rounded-lg border border-gray-300 px-3 py-0.5 text-sm leading-tight focus:border-primary-300 focus:outline-none focus:ring dark:border-transparent dark:bg-gray-600"
          >
            <option value="all" disabled selected class="text-gray-400">
              Filter by
            </option>
            <option [value]="'code'">Code</option>
            <option [value]="'name'">Name</option>
          </select>
        </form>
  
        <div class="flex w-fit flex-row justify-end gap-1">
          <fa-icon
            (click)="resetFilter()"
            class="btn-gray relative flex h-8 w-8 cursor-pointer items-center justify-center p-0 text-lg"
            [icon]="['fas', 'filter-circle-xmark']"
            size="xs"
          ></fa-icon>
  
          <fa-icon
            (click)="openCreateModal()"
            class="btn-primary relative flex h-8 w-8 cursor-pointer items-center justify-center p-0"
            [icon]="['fas', 'plus']"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div> -->

<!-- ----------------------------------------------------------------------- -->

<!-- ------------------------------ Show Info ------------------------------ -->
<div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">Year</th>
          <th scope="col">Color</th>
          <th scope="col">Plate</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (car of cars; track [car.brand, car.model]) {
          <tr>
            <td>{{ car.cc }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.plate }}</td>
            <td>{{ car.createdAt.toLocaleDateString("pt-PT") }}</td>
            <td>{{ car.updatedAt.toLocaleDateString("pt-PT") }}</td>

            <td>
              <div class="group relative">
                <fa-icon
                  (click)="openEditModal(car)"
                  class="cursor-pointer transition-opacity duration-300 ease-in-out group-hover:opacity-0"
                  [icon]="['far', 'pen-to-square']"
                  size="lg"
                ></fa-icon>
                <fa-icon
                  (click)="openEditModal(car)"
                  class="absolute left-0 top-0 cursor-pointer text-primary-500 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
                  [icon]="['fas', 'pen-to-square']"
                  size="lg"
                ></fa-icon>
              </div>
            </td>

            <td>
              <div class="group relative">
                <fa-icon
                  (click)="openDeleteModal(car)"
                  class="cursor-pointer transition-opacity duration-300 ease-in-out group-hover:opacity-0"
                  [icon]="['far', 'trash-can']"
                  size="lg"
                ></fa-icon>
                <fa-icon
                  (click)="openDeleteModal(car)"
                  class="absolute left-0 top-0 cursor-pointer text-rose-500 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
                  [icon]="['fas', 'trash-can']"
                  size="lg"
                ></fa-icon>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <app-modal modalTitle="{{ curentModalTitle }}">
    <div content>
      <!-- ----------------------- Create New Car Form ----------------------- -->
      @if (this.showCreateForm === true) {
        <form
          [formGroup]="carForm"
          (ngSubmit)="confirmCreate()"
          class="space-y-8"
        >
          <div class="space-y-2">
            <label for="brandName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="brandName"
              id="brandName"
              placeholder="ex: Honda"
              formControlName="brand"
              class="input-standard"
            />
          </div>

          <div class="space-y-2">
            <label for="modelName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="modelName"
              id="modelName"
              placeholder="ex: Honda"
              formControlName="model"
              class="input-standard"
            />
          </div>

          <div class="space-y-2">
            <label for="yearName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="yearName"
              id="yearName"
              placeholder="ex: Honda"
              formControlName="year"
              class="input-standard"
            />
          </div>

          <div class="space-y-2">
            <label for="colorName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="colorName"
              id="colorName"
              placeholder="ex: Honda"
              formControlName="color"
              class="input-standard"
            />
          </div>

          <div class="space-y-2">
            <label for="plateName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="plateName"
              id="plateName"
              placeholder="ex: Honda"
              formControlName="plate"
              class="input-standard"
            />
          </div>

          <div class="buttons-modal-container">
            <button type="button" (click)="closeModal()" class="btn-gray">
              Cancel
            </button>
            <button type="submit" class="btn-primary">Add Car</button>
          </div>
        </form>
      }
      <!-- -------------------------- Edit Car Form -------------------------- -->
      @else if (this.showEditForm === true) {
        <form
          [formGroup]="carForm"
          (ngSubmit)="confirmEdit()"
          class="space-y-8"
        >
          <div class="space-y-2">
            <label for="brandName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="brandName"
              id="brandName"
              placeholder="ex: Honda"
              formControlName="brand"
              class="input-standard"
            />
          </div>

          <div class="space-y-2">
            <label for="modelName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="modelName"
              id="modelName"
              placeholder="ex: Honda"
              formControlName="model"
              class="input-standard"
            />
          </div>

          <div class="space-y-2">
            <label for="yearName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="yearName"
              id="yearName"
              placeholder="ex: Honda"
              formControlName="year"
              class="input-standard"
            />
          </div>

          <div class="space-y-2">
            <label for="colorName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="colorName"
              id="colorName"
              placeholder="ex: Honda"
              formControlName="color"
              class="input-standard"
            />
          </div>

          <div class="space-y-2">
            <label for="plateName" class="font-semibold">Brand: </label>
            <input
              type="text"
              name="plateName"
              id="plateName"
              placeholder="ex: Honda"
              formControlName="plate"
              class="input-standard"
            />
          </div>

          <div class="buttons-modal-container">
            <button type="button" (click)="closeModal()" class="btn-gray">
              Cancel
            </button>
            <button type="submit" class="btn-primary">Save</button>
          </div>
        </form>
      }
      <!-- ------------------------- Delete Car Form -------------------------- -->
      @else if (showDeleteForm) {
        <form
          [formGroup]="carForm"
          (ngSubmit)="confirmDelete()"
          #deleteForm="ngForm"
        >
          <div class="space-y-8">
            <div class="space-y-2">
              <label for="brandName" class="font-semibold">Brand: </label>
              <input
                type="text"
                name="brandName"
                id="brandName"
                placeholder="ex: Honda"
                formControlName="brand"
                class="input-standard"
              />
            </div>

            <div class="space-y-2">
              <label for="modelName" class="font-semibold">Brand: </label>
              <input
                type="text"
                name="modelName"
                id="modelName"
                placeholder="ex: Honda"
                formControlName="model"
                class="input-standard"
              />
            </div>

            <div class="space-y-2">
              <label for="yearName" class="font-semibold">Brand: </label>
              <input
                type="text"
                name="yearName"
                id="yearName"
                placeholder="ex: Honda"
                formControlName="year"
                class="input-standard"
              />
            </div>

            <div class="space-y-2">
              <label for="colorName" class="font-semibold">Brand: </label>
              <input
                type="text"
                name="colorName"
                id="colorName"
                placeholder="ex: Honda"
                formControlName="color"
                class="input-standard"
              />
            </div>

            <div class="space-y-2">
              <label for="plateName" class="font-semibold">Brand: </label>
              <input
                type="text"
                name="plateName"
                id="plateName"
                placeholder="ex: Honda"
                formControlName="plate"
                class="input-standard"
              />
            </div>
            <div class="space-y-2 border-t py-8 dark:border-gray-600">
              <p class="font-semibold text-rose-500">
                This action cannot be undone. Please enter the car code to
                confirm:
              </p>
              <input
                type="text"
                name="confirmationCc"
                id="confirmationCc"
                class="input-standard"
                formControlName="confirmationCc"
                placeholder="Enter car code"
                required
              />
            </div>
          </div>
          <div class="buttons-modal-container">
            <button class="btn-gray" (click)="closeModal()" type="button">
              Cancel
            </button>
            <button class="btn-danger" type="submit">Delete</button>
          </div>
        </form>
      }
      <!-- ----------------------------------------------------------------------- -->
    </div>
  </app-modal>
</div>
