<div class="main-container">
  <div class="flex flex-col justify-between py-4 md:flex-row">
    <div class="main-title">My Profile</div>
    <div class="flex w-fit flex-row justify-end gap-1 space-x-2">
      <a (click)="toggleEditProfile()">
        <div class="btn-primary space-x-4">
          <span [innerHTML]="'faUserPen' | attachedIcon"></span>
          <span>Edit</span>
        </div>
      </a>
    </div>
  </div>
  <div class="font-bold space-y-4">
    <div>
      <span>Name: </span>
      <span class="input-disabled">{{ user.name | titlecase }}</span>
    </div>
    <div>
      <span>Username: </span>
      <span class="input-disabled">{{ user.username }}</span>
    </div>
    <div>
      <span>Email: </span>
      <span class="input-disabled">{{ user.email }}</span>
    </div>
    <div>
      <span>Contact: </span>
      <span class="input-disabled">{{ user.contact }}</span>
    </div>
    <div>
      <span>Rating as driver:</span>
      <span class="input-disabled">
        <ng-container *ngIf="isValidRating(user.driverRating!)">
          <ng-container
            *ngFor="
              let star of getStarsArray(user.driverRating!);
              let i = index
            ">
            <span
              class="text-amber-400"
              [innerHTML]="'faStar' | attachedIcon"></span>
          </ng-container>
        </ng-container>
      </span>
    </div>
    <div>
      <span>Rating as passenger: </span>
      <span class="input-disabled">
        <ng-container *ngIf="isValidRating(user.passengerRating!)">
          <ng-container
            *ngFor="
              let star of getStarsArray(user.passengerRating!);
              let i = index
            ">
            <span
              class="text-amber-400"
              [innerHTML]="'faStar' | attachedIcon"></span>
          </ng-container>
        </ng-container>
      </span>
    </div>
  </div>

  <div class="flex space-x-4 w-full justify-end">
    <a (click)="toggleDelete()">
      <div class="btn-danger">
        <span [innerHTML]="'faTrashCan' | attachedIcon"></span>
        <span> Delete account </span>
      </div>
    </a>
    <a (click)="toggleEditPassword()">
      <div class="btn-primary">
        <span [innerHTML]="'faUnlock' | attachedIcon"></span>
        <span> Change password </span>
      </div>
    </a>
  </div>
</div>

<app-modal modalTitle="{{ currentModalTitle }}">
  <div content>
    <!-- ------------------------- Toggle Edit Profile Form -------------------------- -->
    @if (showProfileForm) {
      <form
        [formGroup]="profileForm"
        (ngSubmit)="confirmEditProfile()"
        #form="ngForm"
        class="px-8 pt-6 pb-8 mb-4">
        <!-- Name -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cd">
            Name
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
            id="name"
            name="name"
            type="text"
            required
            placeholder="Name..."
            formControlName="name" />
        </div>

        <!-- Username -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cd">
            Username
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
            id="username"
            name="username"
            type="text"
            required
            placeholder="New username..."
            formControlName="username" />
        </div>

        <!-- Email -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cd">
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
            id="email"
            name="email"
            type="text"
            required
            placeholder="New email..."
            formControlName="email" />
        </div>

        <!-- Contact -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cd">
            Contact
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
            id="contact"
            name="contact"
            type="text"
            required
            placeholder="New contact..."
            formControlName="contact" />
        </div>

        <!-- Botoes -->
        <div class="flex items-center justify-end space-x-4">
          <button class="btn-gray" type="button" (click)="cancel()">
            Cancel
          </button>
          <button class="btn-primary" type="submit">Confirm</button>
        </div>
        <div></div>
      </form>
    }

    <!-- ------------------------- Toggle Edit Password Form -------------------------- -->
    @if (showPasswordForm) {
      <form
        [formGroup]="passwordForm"
        (ngSubmit)="confirmEditPassword()"
        #form="ngForm"
        class="px-8 pt-6 pb-8 mb-4">
        <!-- Password -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cd">
            New Password
          </label>
          <input
            class="input-standard"
            id="password"
            name="password"
            type="password"
            required
            placeholder="New password..."
            formControlName="password" />
        </div>

        <!-- Confirm Password -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cd">
            Confirm Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            required
            placeholder="Rewrite new password..."
            formControlName="confirmPassword" />
        </div>

        <!-- Botoes -->
        <div class="flex items-center justify-end gap-x-4 pt-4">
          <button class="btn-gray" type="button" (click)="cancel()">
            Cancel
          </button>
          <button class="btn-primary" type="submit">Confirm</button>
        </div>
      </form>
    }

    <!-- ------------------------- Toggle Delete Form -------------------------- -->
    @if (showDeleteForm) {
      <form
        [formGroup]="deleteForm"
        (ngSubmit)="confirmDelete()"
        #form="ngForm"
        class="px-8 pt-6 pb-8 mb-4">
        <div class="space-y-4">
          <div>
            <label class="font-bold">Email</label>
            <span class="input-disabled">{{ backupUser.email }}</span>
          </div>
          <!-- Confirm Email -->
          <div class="font-bold">
            <label class="" for="cd"> Confirm your email </label>
            <input
              class="input-disabled"
              id="confirmationEmail"
              name="confirmationEmail"
              type="text"
              required
              placeholder="insert your email here..."
              formControlName="confirmationEmail" />
          </div>
          <p class="mt-4 text-gray-700">
            You are about to delete your account. This process is irreversible.
            Are you sure?
          </p>

          <!-- Botoes -->
          <div class="flex items-center justify-end gap-x-4">
            <button class="btn-gray" type="button" (click)="cancel()">
              Cancel
            </button>
            <button class="btn-primary" type="submit">Delete</button>
          </div>
        </div>
      </form>
    }
  </div></app-modal
>
