<div class="main-container">
  <!-- ------------------------------- Upper Bar -------------------------------- -->
  <div class="flex flex-col justify-between py-4 md:flex-row">
    <div>
      <span class="main-title">Find a Lift</span>
    </div>
    <div class="flex flex-col justify-between gap-1 md:flex-row">
      <div class="flex flex-row items-end gap-1"></div>
      <div class="flex flex-row items-end justify-between gap-1">
        <div class="flex w-fit flex-row justify-end gap-1">
          <button
            (click)="toggleCreate()"
            class="btn-primary relative flex h-10 w-10 cursor-pointer items-center justify-center p-0"
            [innerHTML]="'faPlus' | attachedIcon: ''"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="space-y-6">
    @for (lift of lifts; track lift.cl) {
      <div class="card-container">
        <div
          class="min-h-48 min-w-48 rounded-lg bg-gray-300 dark:bg-gray-700 text-gray-50 dark:text-gray-500 flex items-center justify-center align-middle flex-none">
          <div [innerHTML]="'faCar' | attachedIcon: '5x'"></div>
        </div>
        <div class="flex-1 space-y-2 flex-col">
          <div>
            <div
              class="text-xl 3xl:text-2xl font-extrabold text-primary-700 dark:text-primary-600">
              <span class="pe-2"> FROM: </span>
              <span class="">
                {{ lift.startPoint.parish | titlecase }},
                {{ lift.startPoint.municipality | titlecase }} -
                {{ lift.startPoint.district | uppercase }}
              </span>
            </div>
            <div
              class="text-xl 3xl:text-2xl font-extrabold text-primary-700 dark:text-primary-600">
              <span class="pe-2"> TO: </span>
              <span class="font-extrabold">
                {{ lift.endPoint.parish | titlecase }},
                {{ lift.endPoint.municipality | titlecase }} -
                {{ lift.endPoint.district | uppercase }}
              </span>
            </div>
          </div>
          <p class="text-sm font-semibold">
            <span class=""> Schedule: </span>
            {{ lift.schedule | date: "short" }}
          </p>
          <p
            class="text-white w-fit px-4 py-1 rounded-full text-[14px]"
            [ngClass]="{
              'bg-sky-700': lift.status === 'open',
              'bg-primary-700': lift.status === 'ready',
              'bg-amber-600': lift.status === 'inProgress',
              'bg-orange-500': lift.status === 'finished',
              'bg-gray-600': lift.status === 'closed',
              'bg-rose-700': lift.status === 'canceled',
            }">
            {{ lift.status | titlecase }}
          </p>
          <div
            class="border-l-2 ps-3 text-gray-500 dark:text-gray-400 text-sm"
            [ngClass]="{
              'border-sky-300 dark:border-sky-800': lift.status === 'open',
              'border-primary-300 dark:border-primary-800':
                lift.status === 'ready',
              'border-amber-300 dark:border-amber-800':
                lift.status === 'inProgress',
              'border-orange-300 dark:border-orange-800':
                lift.status === 'finished',
              'border-gray-300 dark:border-gray-800': lift.status === 'closed',
              'border-rose-300 dark:border-rose-800':
                lift.status === 'canceled',
            }">
            <p>Created at: {{ lift.createdAt | date: "short" }}</p>
            <p>
              Driver: {{ lift.driver.name | titlecase }}
              <ng-container *ngIf="isValidRating(lift.driver.driverRating)">
                <ng-container
                  *ngFor="
                    let star of getStarsArray(lift.driver.driverRating);
                    let i = index
                  ">
                  <span
                    class="text-amber-400"
                    [innerHTML]="'faStar' | attachedIcon"></span>
                </ng-container>
              </ng-container>
              <span *ngIf="!isValidRating(lift.driver.driverRating)"
                >Invalid Rating</span
              >
            </p>
          </div>
        </div>
        <div class="text-end flex flex-col justify-between">
          <div class="font-bold">
            <p>
              {{ lift.car.brand | titlecase }}
              {{ lift.car.model | titlecase }} -
              {{ lift.car.color | titlecase }}
            </p>
            <p>Plate: {{ lift.car.plate | uppercase }}</p>
          </div>
          <div>
            <p class="font-semibold">
              Available Seats: {{ lift.providedSeats - lift.occupiedSeats! }} /
              {{ lift.providedSeats }}
            </p>
            <p class="text-3xl font-extrabold pb-4">{{ lift.price }} €</p>
            <div class="flex space-x-4 justify-end">
              <a
                class="btn-primary space-x-2"
                (click)="toggleApplication(lift)">
                <span>Apply</span>
                <span [innerHTML]="'faCircleChevronRight' | attachedIcon"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<app-modal modalTitle="{{ currentModalTitle }}">
  <div content>
    <!-- ------------------------- Toggle Create Form -------------------------- -->
    @if (showCreateForm) {
      <form
        [formGroup]="liftForm"
        (ngSubmit)="confirmCreate()"
        #form="ngForm"
        class="px-8 pb-4 space-y-2 text-sm">
        <!-- STARTPOINT -->
        <div
          class="flex space-x-4 w-full border dark:border-gray-600 p-2 rounded-lg">
          <h3 class="font-bold w-14">From:</h3>
          <!-- District Select -->
          <div class="w-1/3">
            <label for="startDistrict">District</label>
            <select
              id="startDistrict"
              class="input-small"
              formControlName="startDistrict"
              (change)="onStartDistrictChange($event)">
              <option
                *ngFor="let startDistrict of startDistricts"
                [value]="startDistrict">
                {{ startDistrict }}
              </option>
            </select>
          </div>

          <!-- Municipality Select -->
          <div class="w-1/3">
            <label for="startMunicipality">Municipality</label>
            <select
              id="startMunicipality"
              class="input-small"
              formControlName="startMunicipality"
              [disabled]="!selectedStartDistrict"
              (change)="onStartMunicipalityChange($event)">
              <option
                *ngFor="let startMunicipality of startMunicipalities"
                [value]="startMunicipality">
                {{ startMunicipality }}
              </option>
            </select>
          </div>

          <!-- Parish Select -->
          <div class="w-1/3">
            <label for="startParish">Parish</label>
            <select
              id="startParish"
              class="input-small"
              formControlName="startParish"
              [disabled]="!selectedStartMunicipality">
              <option
                *ngFor="let startParish of startParishes"
                [value]="startParish">
                {{ startParish }}
              </option>
            </select>
          </div>
        </div>

        <!-- ENDPOINT -->

        <div
          class="flex space-x-4 w-full border dark:border-gray-600 p-2 rounded-lg">
          <h3 class="font-bold w-14">To:</h3>
          <!-- District Select -->
          <div class="w-1/3">
            <label for="endDistrict">District</label>
            <select
              id="endDistrict"
              class="input-small"
              formControlName="endDistrict"
              (change)="onEndDistrictChange($event)">
              <option
                *ngFor="let endDistrict of endDistricts"
                [value]="endDistrict">
                {{ endDistrict }}
              </option>
            </select>
          </div>

          <!-- Municipality Select -->
          <div class="w-1/3">
            <label for="endMunicipality">Municipality</label>
            <select
              id="endMunicipality"
              class="input-small"
              formControlName="endMunicipality"
              [disabled]="!selectedEndDistrict"
              (change)="onEndMunicipalityChange($event)">
              <option
                *ngFor="let endMunicipality of endMunicipalities"
                [value]="endMunicipality">
                {{ endMunicipality }}
              </option>
            </select>
          </div>

          <!-- Parish Select -->
          <div class="w-1/3">
            <label for="endParish">Parish</label>
            <select
              id="endParish"
              class="input-small"
              formControlName="endParish"
              [disabled]="!selectedEndMunicipality">
              <option *ngFor="let endParish of endParishes" [value]="endParish">
                {{ endParish }}
              </option>
            </select>
          </div>
        </div>

        <!-- Car -->
        <div>
          <label for="car" class="font-bold">Car</label>
          <select id="car" class="input-small" formControlName="car">
            <option *ngFor="let car of cars" [value]="car.cc">
              {{ car.plate }}
            </option>
          </select>
        </div>

        <!-- Schedule -->
        <div class="mb-6">
          <label class="block font-bold mb-2" for="cschedule"> Schedule </label>
          <input
            class="input-standard"
            id="schedule"
            name="schedule"
            type="datetime-local"
            required
            formControlName="schedule" />
        </div>

        <!-- Price -->
        <div class="mb-4">
          <label class="block font-bold mb-2" for="cd"> Price </label>
          <input
            class="input-standard"
            id="price"
            name="price"
            type="number"
            required
            placeholder="Example: 20"
            formControlName="price" />
        </div>

        <!-- Provided Seats -->
        <div class="mb-4">
          <label class="block font-bold mb-2" for="cd">
            Number of passengers <span class="italic">(max.)</span>
          </label>
          <input
            class="input-standard"
            id="providedSeats"
            name="providedSeats"
            type="number"
            required
            placeholder="Example: 4"
            formControlName="providedSeats" />
        </div>

        <!-- Botoes -->
        <div class="flex items-center justify-end space-x-4 pt-8">
          <button class="btn-gray" type="button" (click)="cancel()">
            Cancel
          </button>
          <button class="btn-primary" type="submit">Confirm</button>
        </div>
        <div></div>
      </form>
    }
    <!-- ----------------------------------------------------------------------- -->
    <!-- ------------------------- Toogle Application -------------------------- -->
    @if (showApplicationForm) {
      <form
        (ngSubmit)="confirmApplication()"
        #applicationForm="ngForm"
        class="px-8 pb-4 space-y-2 text-sm">
        <!-- Modal Body -->
        <div class="p-4 rounded-lg space-y-4 bg-white dark:bg-gray-800">
          <div class="flex space-x-4">
            <!-- Starting Point -->
            <div class="w-1/2">
              <h3 class="font-bold text-gray-800 dark:text-gray-200">
                Starting Point:
              </h3>
              <p class="input-disabled">
                {{ auxiliarLift.startPoint.parish | titlecase }},
                {{ auxiliarLift.startPoint.municipality | titlecase }} -
                {{ auxiliarLift.startPoint.district | titlecase }}
              </p>
            </div>
            <!-- Destination -->
            <div class="w-1/2">
              <h3 class="font-bold text-gray-800 dark:text-gray-200">
                Destination:
              </h3>
              <p class="input-disabled">
                {{ auxiliarLift.endPoint.parish | titlecase }},
                {{ auxiliarLift.endPoint.municipality | titlecase }} -
                {{ auxiliarLift.endPoint.district | titlecase }}
              </p>
            </div>
          </div>

          <!-- Departure Time -->
          <div>
            <h3 class="font-bold text-gray-800 dark:text-gray-200">
              Departure time:
            </h3>
            <p class="input-disabled">{{ auxiliarLift.schedule }}</p>
          </div>

          <!-- Driver -->
          <div class="flex space-x-4">
            <div class="w-1/2">
              <h3 class="font-bold text-gray-800 dark:text-gray-200">
                Driver:
              </h3>
              <p class="input-disabled">
                {{ auxiliarLift.driver.name | titlecase }}
              </p>
            </div>
            <div class="w-1/2">
              <h3 class="font-bold text-gray-800 dark:text-gray-200">
                Driver Rating:
              </h3>
              <div class="input-disabled">
                <ng-container
                  *ngIf="isValidRating(auxiliarLift.driver.driverRating)">
                  <ng-container
                    *ngFor="
                      let star of getStarsArray(
                        auxiliarLift.driver.driverRating
                      );
                      let i = index
                    ">
                    <span
                      class="text-amber-400"
                      [innerHTML]="'faStar' | attachedIcon"></span>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>

          <!-- Shared Price -->
          <div>
            <h3 class="font-bold text-gray-800 dark:text-gray-200">
              Shared price:
            </h3>
            <p class="input-disabled space-x-2">€ {{ auxiliarLift.price }}</p>
          </div>
        </div>

        <!-- Modal Footer -->
        <div class="flex items-center justify-end space-x-4 pt-8">
          <button class="btn-gray" (click)="cancel()" type="button">
            Cancel
          </button>
          <button class="btn-primary" type="submit">Confirm</button>
        </div>
      </form>
    }
  </div></app-modal
>
<!-- ----------------------------------------------------------------------- -->
