<!-- Filter Form -->
<div class="py-6">
  <div class="flex flex-col justify-end gap-4 lg:flex-row">
    <button
      class="btn-primary flex items-center justify-center gap-2 rounded-lg px-4 py-2 text-sm font-medium shadow"
      (click)="applyFilters()">
      <span [innerHTML]="'faMagnifyingGlass' | attachedIcon"></span
      ><span>Search </span>
    </button>
    <button
      class="btn-gray flex items-center justify-center gap-2 rounded-lg px-4 py-2 text-sm font-medium shadow"
      (click)="clearFilters()">
      <span [innerHTML]="'faFilterCircleXmark' | attachedIcon"></span>
    </button>
  </div>

  <form (ngSubmit)="applyFilters()" class="mt-6 space-y-6">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <!-- Start Point District -->
      <div>
        <label
          for="startPointDistrict"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Start Point District</label
        >
        <input
          id="startPointDistrict"
          type="text"
          [(ngModel)]="filters.startPointDistrict"
          name="startPointDistrict"
          class="input-standard" />
      </div>

      <!-- Start Point Municipality -->
      <div>
        <label
          for="startPointMunicipality"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Start Point Municipality</label
        >
        <input
          id="startPointMunicipality"
          type="text"
          [(ngModel)]="filters.startPointMunicipality"
          name="startPointMunicipality"
          class="input-standard" />
      </div>

      <!-- Start Point Parish -->
      <div>
        <label
          for="startPointParish"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Start Point Parish</label
        >
        <input
          id="startPointParish"
          type="text"
          [(ngModel)]="filters.startPointParish"
          name="startPointParish"
          class="input-standard" />
      </div>

      <!-- End Point District -->
      <div>
        <label
          for="endPointDistrict"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >End Point District</label
        >
        <input
          id="endPointDistrict"
          type="text"
          [(ngModel)]="filters.endPointDistrict"
          name="endPointDistrict"
          class="input-standard" />
      </div>

      <!-- End Point Municipality -->
      <div>
        <label
          for="endPointMunicipality"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >End Point Municipality</label
        >
        <input
          id="endPointMunicipality"
          type="text"
          [(ngModel)]="filters.endPointMunicipality"
          name="endPointMunicipality"
          class="input-standard" />
      </div>

      <!-- End Point Parish -->
      <div>
        <label
          for="endPointParish"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >End Point Parish</label
        >
        <input
          id="endPointParish"
          type="text"
          [(ngModel)]="filters.endPointParish"
          name="endPointParish"
          class="input-standard" />
      </div>

      <!-- Schedule Year -->
      <div>
        <label
          for="scheduleYear"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Schedule Year</label
        >
        <input
          id="scheduleYear"
          type="number"
          [(ngModel)]="filters.scheduleYear"
          name="scheduleYear"
          class="input-standard" />
      </div>

      <!-- Schedule Month -->
      <div>
        <label
          for="scheduleMonth"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Schedule Month</label
        >
        <input
          id="scheduleMonth"
          type="number"
          [(ngModel)]="filters.scheduleMonth"
          name="scheduleMonth"
          class="input-standard" />
      </div>

      <!-- Schedule Day -->
      <div>
        <label
          for="scheduleDay"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Schedule Day</label
        >
        <input
          id="scheduleDay"
          type="number"
          [(ngModel)]="filters.scheduleDay"
          name="scheduleDay"
          class="input-standard" />
      </div>

      <!-- Schedule Hour -->
      <div>
        <label
          for="scheduleHour"
          class="block text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Schedule Hour</label
        >
        <input
          id="scheduleHour"
          type="number"
          [(ngModel)]="filters.scheduleHour"
          name="scheduleHour"
          class="input-standard" />
      </div>
    </div>
  </form>
</div>

<!-- ----------------------------------------------------------------------- -->

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Schedule</th>
        <th scope="col">Price</th>
        <th scope="col">Driver</th>
        <th scope="col">Car</th>
        <th scope="col">Available seats</th>
        <th scope="col">Created at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if(lifts.length === 0) {
        <tr>
          <td colspan="10" class="text-center">No lifts found</td>
        </tr>
      } @else {
        
        @for (lift of lifts; track lift.cl) {
          <tr>
            <td>
              {{ lift.startPoint.parish }}, {{ lift.startPoint.municipality }} ({{
                lift.startPoint.district
              }})
            </td>
            <td>
              {{ lift.endPoint.parish }}, {{ lift.endPoint.municipality }} ({{
                lift.endPoint.district
              }})
            </td>
            <td>{{ lift.schedule | date: "short" }}</td>
            <td>{{ lift.price }}€</td>
            <td>
              {{ lift.driver.username }} <br />{{ lift.driver.driverRating
              }}<span [innerHTML]="'faStar' | attachedIcon"></span>
            </td>
            <td>
              {{ lift.car.brand }} {{ lift.car.model }} {{ lift.car.color }}
              {{ lift.car.plate }}
            </td>
            <td>
              {{ lift.providedSeats - lift.occupiedSeats! }} /
              {{ lift.providedSeats }}
            </td>
            <td>{{ lift.createdAt | date: "short" }}</td>
            <td>
              <div
                class="rtl relative flex h-8 w-8 cursor-pointer items-center justify-center btn-primary">
                <a (click)="toggleApplication(lift)">
                  <span>Apply</span
                  ><span
                    [innerHTML]="'faCircleChevronRight' | attachedIcon"></span
                ></a>
              </div>
            </td>
          </tr>
        }
        
      }
    </tbody>
  </table>
</div>

<app-modal modalTitle="{{ currentModalTitle }}">
  <div content>
    <!-- ------------------------- Toogle Application -------------------------- -->
    @if (showApplicationForm) {
      <form
        (ngSubmit)="confirmApplication()"
        #applicationForm="ngForm"
        class="mt-4">
        <div class="modal-header">
          <h5 class="text-lg font-bold text-emerald-600">Confirmation</h5>
        </div>
        <div class="modal-body">
          <p class="text-gray-700">You are about to apply to the lift:</p>
          <div class="mt-2">
            <strong class="block text-gray-800">Starting Point:</strong>
            <span
              >{{ auxiliarLift.startPoint.parish }},
              {{ auxiliarLift.startPoint.municipality }} ({{
                auxiliarLift.startPoint.district
              }})
            </span>
          </div>
          <div class="mt-1">
            <strong class="block text-gray-800">Destination:</strong>
            <span
              >{{ auxiliarLift.endPoint.parish }},
              {{ auxiliarLift.endPoint.municipality }} ({{
                auxiliarLift.endPoint.district
              }})</span
            >
          </div>
          <div class="mt-1">
            <strong class="block text-gray-800">Departure time:</strong>
            <span>{{ auxiliarLift.schedule }}</span>
          </div>
          <div class="mt-1">
            <div>
              <strong class="block text-gray-800">Driver:</strong>
              {{ auxiliarLift.driver.username
              }}<span [innerHTML]="'faStar' | attachedIcon"></span
              ><span>{{ auxiliarLift.driver.driverRating }}</span>
            </div>
            <div></div>
          </div>
          <div class="mt-1">
            <span [innerHTML]="'faCoins' | attachedIcon"></span
            ><strong class="block text-gray-800">Shared price:</strong>
            {{ auxiliarLift.price }}€
          </div>
          <p class="mt-4 text-gray-700">Would you like to confirm?</p>
        </div>
        <div class="modal-footer mt-4 flex justify-between">
          <button
            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="cancel()"
            type="button">
            Cancel
          </button>
          <button
            class="bg-primary-700 hover:bg-primary-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Confirm
          </button>
        </div>
      </form>
    }
  </div></app-modal
>
<!-- ----------------------------------------------------------------------- -->
